body {
  background-color: #707070;
  color: white;
}
.nav-bar {
  width: 50%
  height: 100px;
  position: absolute;
} 
a:link {
  color: black;
  list-style: none;
  text-decoration: none;
}
a:hover {
  color: red !important;
  list-style: none;
  text-decoration: none;
}
a:active {
  color: black;
  list-style: none;
  text-decoration: none;
}
a:visited {
  color: black;
  list-style: none;
  text-decoration: none;
}
li {
  list-style: none;
  text-decoration: none;
  display: inline-block;
  padding-left: 30px;
  padding-right: 30px;
  position: static;
  float: right;
  font-weight: bolder;
  font-size: 40px;
}
button {
  font-size: 30px;
  float: left;
  background-color: red;
  text-decoration: none;
  display: inline-block;
}
button:hover {
  background-color: darkblue;
  display: inline-block;
}
.slope {
  width: 15;
  height: 200px;
  display: inline-block;
}
.basket {
  width: 15;
  height: 200px;
  display: inline-block;
  margin-top: 40px;
}
.drift {
  width: 15;
  display: inline-block;
  height: 200px;
}
.mc {
  width: 15;
  height: 200px;
  display: inline-block;
}
.surf {
  width: 15;
  height: 200px;
  display: inline-block;
}
.wait {
   color: black;
  font-weight: bolder;
  font-size: 15px;
  display: inline-block;
}
.mc-text {
  color: black;
  font-size: 15px;
  margin-left: 610px;
  margin-bottom: 20px;
  display: inline-block;
}
.request {
  color: black;
  font-weight: bolder;
  font-size: 15px;
  display: inline-block;
}
.bottom {
  width: 100%;
  height: 200px;
  background-color: #474747;
  color: white;
  display: inline-block;
}
.bottom a:link {
  color: #3333f0 !important;
  display: inline-block;
}
.cookie {
  width: 15;
  height: 200px;
  display: inline-block;
}
.minercat {
  width: 14%;
  margin-top: 40px;
  height: 200px;
  display: inline-block;
}
.terraria {
  width: 5;
  margin-top: 40px;
  height: 200px;
  display: inline-block;
}
.over_it {
  width: 5;
  margin-top: 40px;
  height: 200px;
  display: inline-block;
}
.search-text-basket {
  margin-left: 50px;
  position: absolute;
  display: inline-block;
}
.search-text-slope {
  margin-left: 83px;
  position: absolute;
  display: inline-block;
}
.search-text-subway {
  margin-left: 55px;
  position: absolute;
  display: inline-block;
}
.search-text-mc {
  margin-left: 25px;
  position: absolute;
  display: inline-block;
}
.search-text-cookie {
  position: absolute;
  display: inline-block;
}
.search-text-minercat {
  margin-left: 75px;
  position: absolute;
  display: inline-block;
}
.search-text-terraria {
  margin-left: 75px;
  position: absolute;
  display: inline-block;
}
.search-text-over_it {
  margin-left: 75px;
  position: absolute;
  display: inline-block;
}