body {
  background-color: white;
  color: black;
}
.nav-bar {
  width: 50%
  height: 100px;
  color: black;
} 
a:link {
  color: black;
  list-style: none;
  text-decoration: none;
}
a:hover {
  color: forestgreen !important;
  list-style: none;
  text-decoration: none;
}
a:active {
  color: black;
  list-style: none;
  text-decoration: none;
}
a:visited {
  list-style: none;
  text-decoration: none;
  color: black;
}
li {
  list-style: none;
  text-decoration: none;
  display: inline-block;
  padding-left: 30px;
  padding-right: 30px;
  position: static;
  float: right;
  font-weight: bolder;
  font-size: 30px;
}