:root {
  --light-color: #ffffff;
  --background-color: #2D3047;
  --dark-color: #000000;
  --accent-color: #3b595f;
  --dark-accent: #A799B7;
  --box-shadow-color: #ccc;
  --error-color: #cf1a32;
}
body {
background-color: var(--background-color);
color: white;
margin: 0;
padding: 0;
width: 100%;
height: 100%;
}
.nav-bar {
width: 50%;
height: 100px;
position: absolute;
} 
a:link {
color: var(--accent-color);
list-style: none;
text-decoration: none;
}
a:hover {
color: var(--dark-accent) !important;
list-style: none;
text-decoration: none;
}
a:active {
  color: var(--dark-accent);
list-style: none;
text-decoration: none;
}
a:visited {
  color: var(--dark-accent);
list-style: none;
text-decoration: none;
}
li {
list-style: none;
text-decoration: none;
display: inline-block;
padding-left: 30px;
padding-right: 30px;
position: static;
float: right;
font-weight: bolder;
font-size: 40px;
}
.main-text {
  font-size: 5vw;
  font-weight: bolder;
  position: absolute;
  left: 38%;
}
.game-container {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 22%;
}
.games {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
}
img {
  min-width: 225px;
  max-width: 225px;
  max-height: 120px;
  min-height: 120px;
  border-radius: 20px;
}
#newGame {
  display: inline-block;
  margin-left: 20px;
}