:root {
  --light-color: #ffffff;
  --background-color: #2D3047;
  --dark-color: #000000;
  --accent-color: #93B7BE;
  --dark-accent: #A799B7;
  --box-shadow-color: #ccc;
  --error-color: #cf1a32;
}
body {
background-color: var(--background-color);
color: white;
margin: 0;
padding: 0;
width: 100%;
height: 100%;
}
.nav-bar {
width: 50%;
height: 100px;
position: absolute;
} 
a:link {
color: var(--dark-accent);
list-style: none;
text-decoration: none;
}
a:hover {
color: red !important;
list-style: none;
text-decoration: none;
}
a:active {
  color: var(--dark-accent);
list-style: none;
text-decoration: none;
}
a:visited {
  color: var(--dark-accent);
list-style: none;
text-decoration: none;
}
li {
list-style: none;
text-decoration: none;
display: inline-block;
padding-left: 30px;
padding-right: 30px;
position: static;
float: right;
font-weight: bolder;
font-size: 40px;
}
.main-text {
  font-size: 5vw;
  font-weight: bolder;
  position: fixed;
  top: 10%;
  left: 36.4vw;
}
.game-container {
  width: 60%;
  height: 25vw;
  position: absolute;
  top: 35%;
  left: 1vw;
}
.games {
  width: 100%;
  height: 100%;
}
img {
  height: 15%;
  width: 15%;
  border-radius: 10px;
}