:root {
  --light-color: #ffffff;
  --background-color: #2D3047;
  --dark-color: #000000;
  --accent-color: #3b595f;
  --dark-accent: #A799B7;
  --box-shadow-color: #ccc;
  --error-color: #cf1a32;
}
body {
background-color: var(--background-color);
color: white;
margin: 0;
padding: 0;
width: 100%;
height: 100%;
}
.nav-bar {
width: 50%;
height: 100px;
position: absolute;
} 
a:link {
color: var(--dark-accent);
list-style: none;
text-decoration: none;
}
a:hover {
color: var(--accent-color) !important;
list-style: none;
text-decoration: none;
}
a:active {
  color: var(--dark-accent);
list-style: none;
text-decoration: none;
}
a:visited {
  color: var(--dark-accent);
list-style: none;
text-decoration: none;
}
li {
list-style: none;
text-decoration: none;
display: inline-block;
padding-left: 30px;
padding-right: 30px;
position: static;
float: right;
font-weight: bolder;
font-size: 40px;
}
.main-text {
  font-size: 5vw;
  font-weight: bolder;
  position: absolute;
  left: 38%;
}
.game-container {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 22%;
}
.games {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
}

#newGame {
  display: inline-block;
  margin-left: 20px;
}
::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-thumb {
  background: var(--dark-accent);
  border-radius: 10px;
}
::-webkit-scrollbar-track {
  background: var(--accent-color);
  border-radius: 10px;
}
footer {
  display: block;
}
footer {
  position: relative;
  z-index: 9999;
  width: 100vw;
  height: 25vh;
  background-color: #1c1c1c;
}
footer{
  font-size: 1vw;
  font-family: rubik;
  color: var(--light-color);
  display: grid;
  grid-template-columns: auto auto auto;
  gap: 1vw;
  justify-content: center;
  text-align: center;
}
footer h1, footer p, footer a {
  color: var(--light-color);
  text-decoration: none;
}
footer h1 {
  font-size: 1.5vw;
}
footer h1, footer p, footer a {
  color: var(--light-color);
  text-decoration: none;
}
p {
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}
#footer-section {
  display: inline-block;
}
.teamfoot {
  display: inline-block;
  font-size: 10px !important;
  font-weight: bold !important; 
  margin-right: 20vw;
}
.contact {
  margin-right: 20vw;
}
html {
  overflow-x: hidden;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}