:root {
  --light-color: #ffffff;
  --background-color: #2D3047;
  --dark-color: #000000;
  --accent-color: #3b595f;
  --dark-accent: #A799B7;
  --box-shadow-color: #ccc;
  --error-color: #cf1a32;
}
body {
background-color: var(--background-color);
color: white;
margin: 0;
padding: 0;
width: 100%;
height: 100%;
}
.nav-bar {
width: 50%;
height: 100px;
position: absolute;
} 
a:link {
color: var(--dark-accent);
list-style: none;
text-decoration: none;
}
a:hover {
color: var(--accent-color) !important;
list-style: none;
text-decoration: none;
}
a:active {
  color: var(--dark-accent);
list-style: none;
text-decoration: none;
}
a:visited {
  color: var(--dark-accent);
list-style: none;
text-decoration: none;
}
li {
list-style: none;
text-decoration: none;
display: inline-block;
padding-left: 30px;
padding-right: 30px;
position: static;
float: right;
font-weight: bolder;
font-size: 40px;
}
.container-top-row {
  width: 100%;
  height: 15%;
  margin: 0;
  padding: 0;
}
input {
  writing-mode: horizontal-tb !important;
  text-rendering: auto;
  color: fieldtext;
  letter-spacing: normal;
  word-spacing: normal;
  line-height: normal;
  text-transform: none;
  text-indent: 0px;
  text-shadow: none;
  display: inline-block;
  text-align: start;
  appearance: auto;
  -webkit-rtl-ordering: logical;
  cursor: text;
  background-color: field;
  margin: 0em;
  padding: 1px 2px;
  border-width: 2px;
  border-style: inset;
  border-color: -internal-light-dark(rgb(118, 118, 118), rgb(133, 133, 133));
  border-image: initial;
}
input[type=text] {
  width: 20vw;
  height: 3%;
  box-sizing: border-box;
  border: transparent;
  border-radius: 17px;
  font-size: 1vw;
  background-color: var(--light-color);
  outline: none;
  background-image: url(https://img.icons8.com/material-outlined/24/000000/search--v1.png);
  background-size: 1.25vw;
  background-position: 10px calc(50%);
  background-repeat: no-repeat;
  padding: 1vh 1vw 1vh 2.2vw;
  transition: width .4s ease-in-out;
  margin-bottom: 3%;
  color: var(--dark-color);
}
#searchBar {
  position: absolute;
  top: 15%;
  left: 40vw;
}
.search-text {
  color: var(--accent-color);
  font-size: 1.5vw;
  font-weight: bold;
  position: absolute;
  top: 16.7%;
  left: 44vw;
}

::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-thumb {
  background: var(--dark-accent);
  border-radius: 10px;
}
::-webkit-scrollbar-track {
  background: var(--accent-color);
  border-radius: 10px;
}
footer {
  display: block;
}
footer {
  position: relative;
  z-index: 9999;
  width: 100vw;
  height: 25vh;
  background-color: #1c1c1c;
}
footer{
  font-size: 1vw;
  font-family: rubik;
  color: var(--light-color);
  display: grid;
  grid-template-columns: auto auto auto;
  gap: 1vw;
  justify-content: center;
  text-align: center;
}
footer h1, footer p, footer a {
  color: var(--light-color);
  text-decoration: none;
}
footer h1 {
  font-size: 1.5vw;
}
footer h1, footer p, footer a {
  color: var(--light-color);
  text-decoration: none;
}
p {
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}
#footer-section {
  display: inline-block;
}
.teamfoot {
  display: inline-block;
  font-size: 10px !important;
  font-weight: bold !important; 
  margin-right: 20vw;
}
.contact {
  margin-right: 20vw;
}
.spacer {
  flex: 1;
  margin-top: 30%;
  flex-shrink: 0;
  flex-basis: auto;
  display: flex;
  position: relative;
}
body {
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
footer {
  margin-top: 30vw;
}
html {
  overflow-x: hidden;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
